<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prabhu Secrets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Road Way Underconstruction Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<!--css-->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}" />
<!--/css-->
<!--js-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!--js-->
<!-- webfonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
<!-- webfonts -->
</head>
<body>
<!----->
<div class="banner">
	<h1>Its About Myself</h1>
		<div class="banner-text">
			<h2>We are currently building a new site which will be ready soon.</h2>
				<div class="timer_wrap">
					<div id="counter"> </div>
				</div>
				<div class="clear"> </div>
		</div>
	<div class="bottom-form">
		<div class="wrap">
			<div class="get-in">
				<h3>Get In Touch</h3>
				<p>Stay tuned and don't forget Sign up for latest Updates!</p>
				<ul class="form">
					<li>
						<input type="text" class="email" placeholder="Enter your email address" required="">
						<input type="submit" value="SUBSCRIBE">
					</li>
				</ul>
			</div>
			<ul class="header-bottom">
				<p>Follow Us</p>
					<li><a class="facebook" target="_blank" href="https://www.facebook.com/Prabu.7121" ></a></li>
					<li><a href="#" class="twitter"> </a></li>
					<li><a href="#" class="gp"> </a></li>
					<li><a href="#" class="instagram"> </a></li>
					<li><a href="#" class="behance"> </a></li>
			</ul>
				<div class="tweets">
					<h5>LATEST TWEETS</h5>
					<h6>Loading tweets...</h6>
					<div class="copyrights">
						<p>Design by <a href="#">Prabhu</a></p>
					</div>
			    </div>
			    <div class="clear"> </div>
		</div>
	</div>
</div>
<!----->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>